<div class="container">
  <div class="home">
    <div class="home__content">
      <h1 class="home__title">Thiago Sousa</h1>

      <p class="home__subtitle">obcessed with developer experience</p>


      <div *ngIf="isDialogOpen" class="home__dialog">
        <input type="text" (input)="filterLinks($event)" placeholder="Search">
        
        <ul>
          <li class="home__links" *ngFor="let link of headerLinks" (click)="closeDialog(); navigateToLink(link.href)">{{ link.link }}</li>
        </ul>
      </div>

      <button (click)="openDialog()" (keydown)="openDialog" class="home__button">Click <kbd class="home__background">Crtl</kbd>  <kbd class="home__background">K</kbd>
        to start <mat-icon>arrow_forward</mat-icon></button>
    </div>
  </div>
</div>

<app-footer></app-footer>
