

mat-icon {
  color: #FFF;
  margin-left: 0.5rem;
}

.container {
  height: 70%;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
  height: 100%;
  padding: 0 1rem;

  &__title {
    margin: 0;
    font-size: 4rem;
  }

  &__subtitle {
    color: #8f9ba8;
    font-size: 1.3rem;
    padding-top: 2rem;
  }

  &__background {
    color: #08070b;
    background: #8f9ba8;
    padding: 1px 5px;
    margin: 0 0.2rem;
    border-radius: 4px;
  }

  &__button {
    font-size: 1.3em;
    margin-top: 2rem;
    background: none;
    color: #FFF;
    width: max-content;
    border: none;
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;
    position: relative;
    z-index: 1;

    &:hover {
      color: #FFF;
    }
  }

  &__dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #151417;
    z-index: 10;
    border-radius: 10px;
    width: 700px;
    height: max-content;
  }


  &__search {
    border-radius: 10px 10px 0 0;
    font-size: 1rem;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    margin: 0px;
    background: #151417;
    color: white;

    &::placeholder {
      font-size: 1.3rem;
    }
  }

  &__list {
    width: 100%;
  }

  &__links {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: #f2f2f2;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      color: #f2f2f2;
    }
  }

  &__go__to {
    padding: 0 0 0 1rem;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    width: 100%;
    color: #8f9ba8;
    text-transform: lowercase;
    font-size: 1.3rem;
    letter-spacing: 2px;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__keys {
    display: flex;
    gap: 0.5rem;
  }

  &__key {
    background: rgba(255, 255, 255, 0.1);
    color: #8f9ba8;
    padding: 0.25rem 0.5rem;
    text-transform: uppercase;
    border-radius: 5px;
  }

  &__button::before {
    content: '';
    position: absolute;
    left: -1rem;
    right: -1rem;
    height: 50px;
    background: #212024;
    border-radius: 10px;
    z-index: -1;
    opacity: 0;
  }

  &__button:hover::before {
    color: #FFF;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  &__button:hover &__background {
    transition: background-color 0.9s ease;
    background-color:#f2f2f2;
  }

  @media (max-width: 768px) {
    align-items: center;

    &__title {
      font-size: 2.5rem;
    }

    &__subtitle {
      font-size: 0.875rem;
    }

    &__button {
      font-size: 1rem;
    }
  }

}
